<ion-view view-title="Client">
  <ion-nav-buttons side="right">
      <button class="button button-clear button-positive" ng-click="saveClient()">Save</button>
  </ion-nav-buttons>
  <ion-content>
    <label class="item item-input">
      <span class="input-label">First name</span>
      <input type="text" ng-model="client.firstName">
    </label>
    <label class="item item-input">
      <span class="input-label">Last name</span>
      <input type="text" ng-model="client.lastName">
    </label>
    <label class="item item-input">
      <span class="input-label">Date of birth</span>
      <input type="date" ng-model="client.dateOfBirth">
    </label>
    <label class="item item-input">
      <span class="input-label">
        gender
      </span>
        <ion-radio ng-model="client.gender" ng-value="'M'">Male</ion-radio>
        <ion-radio ng-model="client.gender" ng-value="'F'">Female</ion-radio>
    </label>
    <label class="item item-input">
      <span class="input-label">Title</span>
      <input type="text" ng-model="client.titles">
    </label>
  </ion-content>
</ion-view>
